@charset "utf-8";
header    {
	max-width: 970px;
	background-color: #BBBBBB;
}
#NM {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 56px;
	line-height: 86%;
}
.nav.navbar-nav.navbar-right li a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #333333;
}


main {
	max-width: 970px;
	color: #828282;
	background-color: #7C7C7C;
	height: 293px;
}
#intro {
}
#myWork {
}
#contact {
}



footer {
	height: 50px;
	background-color: #DDDDDD;
}
footer h1 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-align: center;
	font-size: 16px;
	margin-top: 18px;
}
